.main-container {
    padding-top: 55px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}

.main-card.green {
    background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);
}

.main-card {
    width: 300px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #212529;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
    margin: 20px 25px;
    cursor: pointer;
    transition: .3s;
}

.main-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.main-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
    margin: 30px auto;
}

.element {
    
    width: 200px;
    height: 200px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}

.element-container {
    -webkit-perspective: 500px;
    perspective: 500px;
}

.element {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 25px;
    box-shadow: 0 1px 3px 0 #ccc;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.4);
    transition: box-shadow .25s linear,-webkit-transform .7s;
    transition: box-shadow .25s linear,transform .7s;
    transition: box-shadow .25s linear,transform .7s,-webkit-transform .7s;
}

.element:hover {
    box-shadow: -1px 5px 15px 0 rgba(0,0,0,.5);
}

.front, .back {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    transition: .3s;
    background-size: cover;
    background-position: 50%;
}

.back, .front, .rotate {
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.rotate {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../../../assets/img/rotate.png),  rgba(255, 255, 255, 0.507);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
    right: 0px;
    transition: .3s;
    filter: grayscale(1);
    border-radius: 10px;
}

.card-title {
    margin-top: 200px;
    padding: 0 15px;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    width: 70%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.507);
    color: white;
    height: 48px;
    border-radius: 10px;
}

.translate {
    transform: rotateY(180deg);
}

.rotate:hover {
    filter: none;
}



.card-cover .back, .card-cover .front {
    background-size: cover;
    background-position: 50%;
}