.btn-menu {
    font-size: 30px;
    cursor:pointer;
    width: 200px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    color: white;
}

.btn-menu.play {
  background: rgba(0, 209, 139, 0.9);
}

.btn-menu.training {
  background: linear-gradient(40deg,rgb(255, 0, 0), rgb(255, 94, 0));
}

body {
    font-family: 'Lato', sans-serif;
}

.overlay {
  height: 0vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay.play {
  background: rgb(0,0,0);
  background: rgba(0, 99, 66, 0.9);
}

.overlay.training {
  background: rgb(0,0,0);
  background: rgba(117, 0, 16, 0.801);
}

div .active {
  height: 100vh;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay a:hover {
  text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}